[Unit]
Description=PWM Fan speed controller based on temp
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/pi/.FanGPIO/FanGPIO

[Install]
WantedBy=multi-user.target
